{% extends 'base.html.twig' %}

{% block title  %} Student Homepage {% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <a href="{{ path('student_info') }}" class="btn btn-primary btn-lg" role="button" >Update Information</a>
{% endblock %}