{% extends 'base.html.twig' %}

{% block title  %} Company Homepage {% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <a href="{{ path('company_info') }}" class="btn btn-primary btn-lg" role="button" >Update Information</a>
    <a href="{{ path('company_search_students') }}" class="btn btn-primary btn-lg" role="button" >Search Students</a>
{% endblock %}